
{{ form_start(articleForm) }}
    {{ form_errors(articleForm) }}

    <div>
        {{ form_widget(articleForm.title) }}
    </div>

    <div>
        {{ form_widget(articleForm.body) }}
    </div>
	<div>
        {{ form_widget(articleForm.onpage) }}
    </div>


{{ form_end(articleForm) }}